footer {
  background: $nav-bg-color;
  padding: 0 30px;
  height: 200px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
text-align: center;



}



  li {
    margin-top: 50px;
    font-size: 1.2em;
    list-style: none;
    
  }
  
   footer a {
    text-decoration: none;
  color: $nav-button;
   margin: 0 5px;

  &:before {
    content: "•";
   
  }


  }
  li:first-of-type a:before {
    content: "";
  }
  

  ul {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  p {
    color: $paragraphs-color;
       
  
  }

  i {
    font-size: 2.5em;
    color: $nav-button;
    padding: 10px;
    margin: 10px;
  &:hover {
    cursor: pointer;
  }
  }
 







   

    
  