@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
@import "variables";
@import "nav";
@import "header";
@import "article";
@import "main";
@import "section";
@import "footer";
@import "media";
* {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  
}
html {
  body: 100%;
}
